body {
  font-family: 'Arial', sans-serif;
  background-color: #fff; /* White background */
  color: rgb(5, 108, 74); /* Primary text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background-color: #f7f7f7; /* Light grey background for the form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  color: rgb(5, 108, 74);
  text-align: center;
}

label {
  color: rgb(5, 108, 74);
  font-weight: bold;
  display: block; /* Makes the label take the full width */
  margin-top: 10px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=radio],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px; /* Adds a little space above the input field */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=radio] {
  width: auto; /* Prevents the radio buttons from stretching */
}

button.submit-button {
  background-color: rgb(5, 108, 74);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block; /* Centers the button */
  margin: 20px auto;
}

button.submit-button:hover {
  background-color: #046c4e; /* A darker shade for hover effect */
}

/* Additional styles for gender and role labels to align with radio buttons */
.gender-label, .role-label {
  display: inline-block;
  margin-right: 10px;
}

/* Style adjustments for radio buttons and their labels */
.rad-1, .rad-2, .rad-3 {
  margin-right: 5px;
}
